%flexsb{
    display: flex;
    justify-content: space-between;
}
%flexcl{
    display: flex;
    flex-direction: column;
}
%button{
    background-color: #2F80ED;
    min-width: 345px;
    min-height: 81px;
    color: #FFFFFF;
    border: 0px;
    border-radius: 9px;
}
%tittle{
    font-weight: 500;
    font-size: 44px;
    line-height: 110%;
    color: #5B5B5B;
    margin-bottom: 40px;
}

body{
    font-family: "Inter";
}

.wrapper{
    min-height:100%;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}

.content {
    flex: 1 1 auto;
}
.conteiner {
    max-width: 1209px; /* ширина контентной части */
    margin: 0px auto;
}
.headd_body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 0px 15px 0px;
}
.headd_text  {
    margin: 0px;
    display: flex;
    color: #5A5A5A;
    position: relative;
    left: 0px;
    >p{
        margin: 0px 55px 0px 0px;
    }
}
.headd_tel {
    color: #2F80ED;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    right: 0;
}
.headd_mob{
    display: none;
}


.b_head_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.b_button_body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @extend %button;
    min-width: 153px;
    min-height: 36px;
    // background: url(photo.2p/Arrow\ 1.png);
    img{
        margin: 0px 7px 0px 0px;
    }
    &:hover{
        cursor:pointer ;
    }
}


.main_d{
    display: flex;
}
.tittle {
    margin-top: 15px;
    @extend %tittle
}
.main_row {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}
.main_body {
   > img{
        max-width: 100%;
        max-width: 800px;
        min-height: 460px;
    }
}
.main_body_row {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    gap: 0;
    img{
        max-width: 131px;
        max-height: 80px;
        // size: 100%;
    }
}

.Description{
    
    padding: 20px 20px 20px 20px;
    margin: 20px 0px 0px 0px;
    background: #FFFFFF;
    box-shadow: 0px 12.4444px 35.5556px rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    max-width: 800px;
}
.Description_head_row{
    max-width: 760px;
    margin: 0 auto;
}
.Description_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Description_img{
    max-height: 6px;
}
}
.Description_body {
    max-width: 800px;
    margin: 0 auto;
}

.Description_row{
    max-width: 760px;
}
.D_P_C {
    display: flex;
    // max-width: 760px;
    margin: 0 auto;
}
.Synopsis {
    max-width: 335px;
}
.Synopsis_row {
    display: flex;
    
    flex-direction: column;
}
.Synopsis_body {
    max-width: 335px;
}
.Synopsis_tittle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4A4A4A;
    margin: 40px 0px 15px 0px;
}
.Synopsis_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6D6D6D;
}

.Price {
    max-width:355px ;
}
.Price_body {
    @extend %flexsb;
    
}
.Comfort_tittle {
    margin: 40px 0px 0px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px
}
.Col_1 {
    
    p{
        margin: 0px ;
    }
    .Period_price {
    color: #8D9399;
}
.grey_text {
    color: #8A8A8A;
}
}
.Col_2 {
  
    p{
        margin: 0px;
    }
    .black_gr_text {
    color: #6D6D6D;
}
.Period_price {
    color: #8D9399;
}

}


.Comfort {
    margin: 0px 0px 0px 65px ;
}

.Comfort_body {
    display: flex;
    justify-content: space-between;
}


.Comfort_ul_2{
    list-style: none;
    li{
        font-weight: 500;
        font-size: 14px;
        line-height: 50px;  
        color: #6D6D6D;
        background: url(photo.2p/Ellipse\ 16.png) left no-repeat; 
        padding: 0px 0px 0px 10px;
    }
    .o_lh{
        line-height: 17px;
    }
   
}

.Cont {
    min-width: 390px;
    // margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 12.4444px 35.5556px rgba(0, 0, 0, 0.11);
    border-radius: 9px;
    margin: 0px 0px 0px 40px;
}
.Cont_content{
    max-width: 345px;
    margin: 0 auto;

}
.Cont_body {
    >span{
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #868686;
    }


    .Cont_tel{
        font-weight: 600;
        font-size: 29px;
        line-height: 35px;
        color: #5A5A5A;
    }
    padding: 25px 0px 0px 0px;
}
.Cont_row {
    @extend %flexsb;
}
.Cont_row_h{
    span{
        font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #5A5A5A;
    }
    padding: 15px 0px 0px 0px;
    margin: 0px 0px 35px 0px;
    display: flex;
}
.button_Cont{
    @extend%button;
    max-width: 345px;
    min-height: 70px;
}

.button_Cont_row{
    padding: 0px 0px 25px 0px;

}


.Enter {
    padding: 20px 0px 0px 0px;
    margin: 20px 0px 0px 40px;
    background: #FFFFFF;
    box-shadow: 0px 12.4444px 35.5556px rgba(0, 0, 0, 0.11);
    border-radius: 9px;
    }
.Enter_body {
    min-width: 390px;
    display: flex;
    flex-direction: column;
    input{
        background: #E0E6ED;
        border-radius: 9px;
        max-width: 345px;
        min-height: 81px;
        border: 0px;
        text-align: center;
        font-family: "Inter";
        margin: 0px 0px 15px 0px;
        color: #929292;
    }
}
.Enter_row{
    max-width: 345px;
    margin: 0 auto;
}

.Rules {
    max-width: 800px;
    background: #FFFFFF;
    box-shadow: 0px 12.4444px 35.5556px rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 0px 0px;
}

.Rules_row {
    max-width: 610px;
    padding: 0px 0px 0px 20px
}
.Rules-time {
    @extend %flexsb;
    margin: 0px 0px 20px 0px ;
    span{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #6D6D6D;
    }
}
.Rules-time_2 {
    display: flex;
    justify-content: space-between;
    max-width: 490px;
    span{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #A8A8A8;
    }
}

.Resolve{
    @extend %flexsb;
    img{
        align-items: center;
        align-self: center;
    }
}
.Resolve_row{
    margin: 40px 0px 0px 0px;
}

.Resolve_2{
    margin: 20px 0px 0px 0px;
    max-width: 370px;
    @extend %flexsb;
    img{
        max-width: 5px;
        max-height: 5px;
        align-self: center;
    }
}
.Vacation_body {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 75px 0px;
}
.Vacation_tittle {
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 110%;
    color: #434343;
    margin: 81px 0px 50px 0px;

}
.Vacation_inf {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    min-width: 340px;
    min-height: 130px;
    img{
        max-height: 78px;
        align-self: center;
        padding: 0px 0px 0px 10px;
    }
}
.Vacation_img{
    margin: 0px 26px 0px 0px;
}
.Vacation_script {
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Client_body {
    display: flex;
    justify-content: space-between;
}
.Client_tittle {
    font-weight: 500;
    font-size: 44px;
    line-height: 110%;
    color: #434343;
    margin: 0px 0px 40px 0px;
}
.Client_reviews {
    max-width: 326px;
    background: #FFFFFF;
    box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.Client_mark {
    background-color: #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 53px;
    max-width: 80px;
    max-height: auto;
    margin: 0px 0px 25px 0px;
}
.Client_mark_score{
    font-weight: 500;
    font-size: 21px;
    line-height: 125%;
    color: #757575;
    
}

.Client_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    color: #757575;
    margin: 0px 0px 30px 0px;

}
.Client_text_name {
    font-weight: 500;
    font-size: 24px;
    line-height: 128%;
    color: #757575;
}
.Client_text_date {
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    color: #757575;
}

.Review_button {
    display: flex;
    justify-content: center;
    margin: 60px 0px 0px 0px;
}
.R_button {
    padding: 23px 64px 23px 64px;
    background: #2F80ED;
    border-radius: 9px;
    color: #FFFFFF;
    border-radius: 9px;
    border: 0px;
}

.Address_tittle {
    font-weight: 500;
    font-size: 37px;
    line-height: 110%;
    color: #535353;
    margin: 40px 0px 0px 0px;
}
.Address_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    color: #757575;
}


.Get_touch_body {
    @extend %flexsb;
    justify-content: space-between;
    
    span{
        font-weight: 500;
        font-size: 44px;
        line-height: 110%;
        color: #5B5B5B;
        align-self: center;
    }
    
}
.Get_touch_el {
    a{
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 110%;
        color: #6D6D6D;
    }
  img{
   
    min-width:48px ;
  }
  background: rgba(238, 238, 238, 0.32);
  backdrop-filter: blur(4.13296px);
  border-radius: 77px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px 16px 0px;
  gap: 10px
}

.b_head_mob{
    display: none;
}
.conteiner_mob{
    display: none;
}

.Vacation_mob{
    display: none;
}

.Client_mob{
    display: none;
}
.Get_touch_mob{
    display: none;
}
@media  (max-width: 480px) {
    .headd{
        display: none;
    }
    .headd_mob{
        display: block;
        background-color: white;

    }
    .conteiner_mob{
        display: block;
    }
    .conteiner_mob {
        max-width: 355px; /* ширина контентной части */
        margin: 0px auto;
    }
    .headd_mob_body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 18px 0px 0px 0px;
    }
    .headd_mob_cont {
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }
    .headd_mob_icon{
        margin: 0px 10px 0px 0px;
    }
    .b_head{
        margin: 25px 0px 0px 0px;
    }
    .conteiner{
        max-width: 355px; /* ширина контентной части */
        margin: 0px auto;
    }
    .b_head_mob{
        display: block;
        margin: 40px 0px 40px 0px;
    }
    .main_body{
        display: block;
       > img{
            max-width: 100%;
            min-height: 205px;
        }
    }
    .main_body_row{
        img{
            max-width: 58px;
        }
    }
  
    .Description{
        padding: 0px;
        margin: 20px 40px 0px 0px;
        box-shadow: none;
    }
    .Description_head{
        margin: 10px 0px 0px 0px;
    }
    .tittle{
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 110%;
        margin: 0px 0px 20px 0px;
    }
    .Synopsis_tittle{
        margin: 20px 0px 15px 0px;
    }
    .Comfort{
        margin: 0px;
    }
    .Comfort_tittle{
        margin: 20px 0px 0px 0px;
    }
    .Comfort_ul_2{
        padding: 0px;
    }
   .Rules_row{
    padding: 0px;
   }
   .Rules-time{
    max-width: 190px;
    p{
        position: absolute;
        margin: 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #6D6D6D;
    }
   }
   .Rules-time_2{
    max-width: 190px;
    margin: 0px 0px 15px 0px;
   }
   
    .Resolve_mob {
       display: flex;
        justify-content: space-between;
        ul{
            padding: 0px;
            margin: 0px;
            li{
                list-style: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #6D6D6D;
            background: url(photo.2p/Ellipse\ 16.png) left no-repeat; 
            padding: 0px 0px 0px 10px;
            line-height: 30px;
        } 
        }
       
    }
    .Cont{
    margin: 0px;
    min-width: 355px;
   }
   .Cont_content{
    max-width: 315px;
   }
    .Enter{
        margin: 20px 0px 0px 0px;
        
    }
    .Enter_row{
        max-width: 315px;
    }
    .Enter_body{
        min-width: none;
        input{
            max-width: 315px;
        }
    }
    .button_Cont{
        min-width: 315px;
    }

    .Vacation_mob{
        display: block;
    }
    .Vacation_body_mob {
        display: flex;
        flex-direction: column;
       
    }
    .Vacation_inf_mob {
        display: flex;
        margin: 0px 0px 25px 0px;
        background: #FFFFFF;
        box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.12);
        min-height: 77px;
        border-radius: 15px;
    }
    .Vacation_img {
        max-width: 51px;
        max-height: 51px;
       margin: 0px 10px 0px 10px;
    }
    .V_img_row_mob{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Client_mob {
        display: block;
    }
    .Client_body {
        display: flex;
        flex-direction: column;
    }
    .Client_text_logo_row{
        display: flex;
        margin: 0px 0px 40px 0px;
    }
    .Client_reviews {
        margin: 10px 0px 0px 0px;
    }
    .Client_tittle {
        margin: 0px 0px 10px 0px;
    }
    .Review_button_mob{
        display: block;
        display: flex;
        justify-content: center;
        margin: 20px 0px 0px 0px;
    }
    .conteiner_mob{
        display: block;
    }
    .Address_tittle_mob{
        display: block;
        font-weight: 500;
        font-size: 26px;
        line-height: 110%;
        color: #434343;
        margin: 60px 0px 10px 0px;
    }
    .Address_text_mob{
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 125%;
        color: #757575;
    }
    .Get_touch_body{
        display: flex;
        justify-content:start;
    }
    .Get_touch_el{
        margin-right: 20px;
    }



    
    .main{
        display: none;
    }
    .Rules{
        display: none;
    }
    .Vacation{
        display: none;
    }
    .Client{
        display: none;
    }
    .Review_button{
        display: none;
    }
    .Address_tittle{
        display: none;
    }
    .Address_text{
        display: none;
    }
    .Address{
        display: none;
    }
    .Get_touch{
        display: none;
    }
    .b_head{
        display: none;
    }
    .Get_touch_mob{
        display: block;
    }
}

@media (max-width:1200px) {
    .conteiner{
        max-width: 970px;
    }
}
@media (max-width:992px) {
    .conteiner{
        max-width: 750px;
    }
}